* {
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
}

:root {
  --primary-color: #EBD96B;
  --secondary-color: #383c44;
  --admin-background: #efeff4;
}

body{
	display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

html {
	scroll-behavior: smooth;
}

.home-nav {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home-nav > .menu {
	display: flex;
	gap: 20px;
}

.home-nav > .menu a{
	text-decoration: none;
	color: var(--secondary-color);
	transition: 0.4s;
}

.home-nav > .menu a:hover{
	color: var(--primary-color);
}

.home-brand {
	margin: 30px 160px;
	border-radius: 20px;
	background-color: coral;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.register-container {
	margin: 20px 160px;
	background-color: #EBD96B;
	border-radius: 20px;
	padding: 100px 50px;
	text-align: center;
	color: #383c44;
}

.register-container input {
	padding: 10px;
	border-radius: 10px;
	width: 500px;
	height: 50px;
	border: none;
	font-size: 16px;
}

.form-register {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.form-register button {
	height: 50px;
}

.main-menu {
	color: #2B2320;
	background-color: #BFC3CF;
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
	font-size: larger;
}

.home-brand img{
	width: 100px;
}

.new-arrival {
	display: flex;
	justify-content: space-around;
	padding: 10px 160px;
	gap: 40px;
	text-align: center;
}

.new-arrival-title {
	font-size: 24px;
	margin-left: 159px;
	margin-top: 20px;
	display: block;
}

.new-featured-title{
	font-size: 24px;
	margin-left: 135px;
	margin-top: 20px;
	display: block;
}

.new-arrival > div {
	flex-grow: 1;
}

.new-arrival-container {
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px 160px;
	gap: 40px;
}

.new-arrival-container img{
	width: 100%;
  height: 450px;
	object-fit: cover;
	border-radius: 10px;
}

.new-arrival img{
	width: 100%;
  height: 350px;
	object-fit: contain;
	border-radius: 10px;
}

.new-arrival-container img:hover {
	box-shadow: 3px 3px 10px #383c44;
	cursor: pointer;
}

.new-arrival img:hover {
	box-shadow: 3px 3px 10px #383c44;
	cursor: pointer;
}

.top-card-title {
	padding: 10px 0;
}

.top-link {
	text-decoration: none;
	color: #383c44;
}


.home-footer {
	display: flex;
	justify-content: space-around;
	background-color: black;
	color: gray;
	padding: 20px;
}

.home-footer a{
	text-decoration: none;
	color: gray;
}

.home-footer a:hover{
	color: var(--primary-color);
}

.main-banner{
	width: 100%;
}
/* Style the dropdown button */
.dropbtn-home {
  cursor: pointer;
}

.dropbtn-home:hover {
  color: var(--primary-color);
}

.dropdown-home {
  position: relative;
  display: inline-block;
}

.dropdown-content-home {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-home a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content-home a:hover {
  background-color: #f1f1f1;
}

.dropdown-home:hover .dropdown-content-home {
  display: block;
}

.cart-relative{
	position: relative;
}

.cart-relative > span {
	position: absolute;
	top: -9.5px;
	color: #D80C18;
	font-weight: 900;
}
/* Style the dropdown button user */
.dropbtn-user {
  cursor: pointer;
}

.dropbtn-user i{
	width: 40px;
	text-align: center;
}

.dropbtn-user:hover {
  color: var(--primary-color);
}

.dropdown-user {
  position: relative;
  display: inline-block;
}

.dropdown-content-user {
  display: none;
  position: absolute;
	right: 0;
	top: 17px;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-user a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: flex;
	align-items: center;
	gap: 10px;
}

.dropdown-content-user a:hover {
  background-color: #f1f1f1;
}

.dropdown-user:hover .dropdown-content-user {
  display: block;
}



.user-container {
	margin: 20px 300px;
	padding: 20px;
	border-radius: 5px;
}

.user-container button {
	float: right;
}

.user-container h2 {
	margin-bottom: 20px;
	text-align: center;
}
.info-container {
	background: url('/images/info-image.png') no-repeat center center/cover;
	padding: 20px 250px;
	line-height: 2.0;
	font-weight: bold;
	/* text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75); */
}

.info-background {
	backdrop-filter: blur(5px);
}
