<!DOCTYPE html>
<html xmlns="http://thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>Insert title here</title>
</head>

<body>
  <footer class="home-footer">
    <div>
      <h3><b>FASHION</b></h3>
      <br><br>
      <p>Address: FPT, District 12, HCM</p>
      <p>Tel: 0987287272</p>
      <div>
        <a href="#"><i class="fa fa-facebook-square" style="font-size:24px"></i></a>
        <a href="#"><i class='fa fa-instagram icon' style='font-size:24px'></i></a>
        <a href="#"><i class="fa fa-twitter icon" style="font-size:24px"></i></a>
      </div>
    </div>
    <div>
      <p><b>Shop</b></p>
      <p><a href="#">Về chúng tôi</a></p>
      <p><a href="#">Liên hệ</a></p>
      <p><a href="#">Hỗ trợ</a></p>
      <p><a href="#">Careers</a></p>
    </div>
    <div>
      <p><b>Câu hỏi thường gặp</b></p>
      <p><a href="#">Vị trí đơn hàng</a></p>
      <p><a href="#">Theo dõi đơn hàng</a></p>
      <p><a href="#">Hướng dẫn size</a></p>
      <p><a href="#">FAQs</a></p>
    </div>
    <div>
      <p><b>Chính sách đổi trả</b></p>
      <p><a href="#">Điều kiện bảo hành</a></p>
      <p><a href="#">Chính sách bảo mật</a></p>
    </div>
  </footer>

</body>

</html>